
<div>
  {{#if messages.info}}
    <div class="flash">
      {{messages.info}}
    </div>
    {{/if}}
</div>
<div class="main" >
    <div class="card">
        <div class="container">
          <div><h2>List of subjects</h2></div>
            {{!-- <div class="">
                 <ul>
                {{#each subject}}
                <li>{{name}}</li>
               <div>
                   <a href="/del_subject/{{id}}" type="submit" > clear </a>
               </div>

                {{/each}}
              </ul>  
            </div> --}}
            <div>
              <table>
                <tr>
                  <th>Subject</th>
                  <th>Action</th>
                </tr>
                {{#each subject}}
                <tr>
                  <td>{{name}}</td>
                  <td><a href="/del_subject/{{id}}" type="submit" > Delete </a></td>
                </tr>
                {{/each}}
              </table>
            </div>
            
         <div class="" >
            <form action="/add_subject" method="Post">
           
             <div class="addSub">
             <input type="text" name="name" placeholder="New subject" value={{name}}> 
             <button class="btn" type="submit" >+</button>
             
            </div>

            </form>
         </div>
        </div>
      </div>
     

</div>
    