{{!-- <style>

  .card { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
         width: 40%;
       margin-left: auto;
       margin-right: auto; 
       } 
  
  .card:hover { 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  }
   
    input one[type=submit] {
  background-color: #333; 
  color:
   white; 
  } 
  
  table One { 
    font-family: arial,
     sans-serif; 
     border-collapse:collapse;
      width: 50%; 
      margin-left: auto;
       margin-right: auto;
        margin-top: 20px;
        }
  
   

h2{ text-align: center; 
  } 
.containerOne { 
     padding: 2px 16px;
     text-align: center; 
    }
    tr:nth-child(even) {
      background-color: rgba(23, 151, 180, 0.763);
   }
    td, th {
       height: 70px
  border: 1px solid rgba(23, 151, 180, 0.763);
   text-align: left;
    padding: 8px;
  width: 50%;
   } 
</style> --}}










<div class="containers">
  <h2>Add Teachers</h2>

     {{#if messages.info}}
    <div class="flash">
      {{messages.info}}
    </div>
    {{/if}}

  <div class="card">
    <div class="containerOne">
      <form action="/add_teacher" method="post">
        <input  type="text" name="first_name" placeholder="first-name" /><br
        /><br />
        <input type="text" name="last_name" placeholder="last-name" /><br /><br
        />
        <input type="text" name="email" placeholder="email" /><br /><br />
        <input id="submit" type="submit" value="Submit" />
      </form>
    </div>
  </div>

  <table One>
    <tr>
      <th class="header">First Name</th>
      <th class="header">Last Name</th>
      <th class="header">Email</th>
      <th class="header">action</th>
    </tr>
    {{#each teachers}}
      <tr>
        <td class="header2"> {{first_name}}</td>
        <td class="heade2r"> {{last_name}} </td>
        <td class="header2"> {{email}} </td>
        <td class="header2">
      
          <a href="/del_teacher/{{id}}" type="submit" >Delete</a>

        </td>
      </tr>
    {{/each}}

  </table>

</div>